doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/socket.js")
		script(src="/javascripts/paper.js")
		script(src="/javascripts/jquery-2.1.4.min.js")
	body
	
		.header
			h1.blink myZuera
		.content
			canvas(id="draw", resize="true")
		
			.tools
			
				.tool.text-control
					img#pencil.button-active.button(src='/images/brush-icon.png')
					img#text.button(src='/images/text-icon.png')
				
				.tool.text-control
					input#stroke-color(type="color", value="#000000")
					
				.tool.prop.text-control
					|Stroke width: 
					input#stroke-width(type='number', value='7', min='1', max='20')
				
				.tool.prop.prop-hidden.text-control
					input#text-text(type='text', placeholder='Your text here')
				
				.tool.prop.prop-hidden.text-control
					|Text size: 
					input#text-size(type='number', value='22', min='14', max='70')
					
				.tool.prop.prop-hidden
					button#text-add.text-control(type='button') Add text
					button#text-finalize.text-control.text-hidden(type='button') Finalize text
				
		
		script(src="/javascripts/canvas.js")
		script(type="text/paperscript", src="javascripts/draw.js", canvas="draw")
		
	