doctype html
html
	head
		title="myZueira"
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-2.1.4.min.js")
		script(src="/javascripts/index.js")
	body
		.header
			h1.blink myZuera
		.content
			form#form.formImage(method='POST', enctype='multipart/form-data')
				marquee(behavior="alternate")
					h2 Send your image
					br
					input(type='file', name='image')
					input(type='submit')
				
			#images