* {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CCF;
}

a {
  color: #00B7FF;
}

h1 {
	font-size: 72px;
}

.header {
	background-color: #99E;
	padding: 15px 80px;
}

.content {
	padding: 30px 80px;
}

.formImage {
	background-color: white;
	text-align: center;
	padding: 20px 0;
}

button {
	padding: 3px 5px;
}

#draw {
	display: block;
	margin: 0 auto;
	width: 1000px;
	height: 700px;
	border: 1px black solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: white;
}

.pic-wrapper {
	text-align: center;
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
}

.pic {
	width: 170px;
	height: 170px;
	border: 1px dashed black;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.pic:hover {
	border: 1px solid black;
	animation: animatedBackground 0.1s ease-out 1;
	animation-fill-mode: forwards;
}

.tools {
	display: block;
	margin: 10px auto;
	width: 1100px;
	background-color: white;
}

.tool {
	margin: 10px;
	display: inline-block;
	padding: 10px 0;
	vertical-align: middle;
}

.button {
	cursor: pointer;
	margin: 0 10px;
	border: 1px dashed #999;
}

.button:hover {
	border: 1px solid #999;
	background-color: #eee;
}

.button-active {
	border: 1px solid black;
}

.prop-hidden, .text-hidden{
	display: none;
}

.warning {
	color: red;
}

/* Going straight to hell for this */
.blink {
    -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
		
@keyframes animatedBackground {
	0% {
		transform: scale(1, 1) rotate(0deg)
	}
	100% {
		transform: scale(1.5, 1.5) rotate(20deg);
	}

}